body {
  font-family: Arial, sans-serif;
}

.chat-container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.chat-history {
  max-height: 600px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.speaker-select {
  width: 100%;
  margin-bottom: 10px;
}

.chat-input {
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
  height: auto;
}

.send-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.chat-message {
  margin-bottom: 10px;
}

.problematic {
  border-bottom: 1px solid red;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
}


.chat-message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 80%;
}

.User2 {
  align-self: flex-start;
  background-color: #e6e6e6;
}

.User1 {
  align-self: flex-end;
  background-color: #cce5ff;
}

.speaker-select {
  display: none;
}